<!DOCTYPE html>
<html>
<head>
	<title>Forrest's Blog</title>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" type="text/css" href="./app.min.css">
	<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
</head>
<body>

<div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="text-left col-xs-3">
          <h1 id="title">CODERFORREST</h1>
        </div>
      </div> 
  </div>
</div>

<div class="container">
	<div class="row">
      <div class="col-xs-2" id="leftCol">
        <ul class="nav nav-stacked" id="sidebar">
        {{range .}}
        	<li><a href="#sec-{{.Fields.Title | urlquery}}">{{Title .Fields.Title}}</a></li>
		{{end}}
        </ul>
      </div>
      <div class="col-xs-10">
		{{range .}}
        	<h2 class="post-title" id="sec-{{.Fields.Title | urlquery}}">{{Title .Fields.Title}}</h2>
        	<h6>Created On: {{NiceTime .Sys.CreatedAt}}</h6>
        	<h6 class="updated-at">Last Updated On: {{NiceTime .Sys.UpdatedAt}}</h6>
        	<div class="post-bg">{{MD .Fields.Body}}</div>
		{{end}}
  	</div>
</div>

<script type="text/javascript" src="./app.min.js"></script>
</body>
</html>
